{%extends 'main.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
  {%block content%}
  <style>
    .room-container{
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  </style>
  <div class="room-container">
      <div>
              <div>
                <h3>TOPIC --{{room.topic}}</h3>
                <h1>--{{room.name}}</h1>
                <h1>{{room.description}}</h1><hr>
              </div>
              <div>
                <h3>Converstation:-</h3>
                {%for i in room_message%}
                {%if i.user == request.user%}
                <a href="{% url 'delete_message' i.id %}">Delete</a>
                {%endif%}
                  <small>{{i.user.username}}  {{i.created | timesince}}</small>
                  <p>{{i.body}}</p><hr> 
                {%endfor%}
              </div>  
              <div>
                {%if request.user.is_authenticated%}  
                  <form method="POST" action="">
                      {%csrf_token%}
                      <input type='text' placeholder="Type message here......" name='converstation'/>
                      <input type="submit" value="Send"/>
                  </form>    
                  {%endif%}
                  <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
              </div>
      </div>
      <div>
        <h3>Participants</h3><hr>
        {%for i in participant%}
         <h3>@{{i.username}}</h3> 
        {%endfor%}
      </div>
  </div>  
  {%endblock content%}
</body>
</html>